<mat-toolbar color="accent">
    <mat-toolbar-row>
        <span>Evaluación de Solicitudes Internas de Servicios</span>
        <span class="spacer"></span>
        <!-- <button mat-raised-button color="primary" (click)="openRegistroSisDialog()"><mat-icon class="icon">build</mat-icon>Realizar Solicitud SIS</button> -->
    </mat-toolbar-row>
</mat-toolbar>

<mat-card class="flex mat-elevation-z8" [formGroup]="busqueda">
    <mat-form-field class="full-width">
        <input matInput placeholder="Búsqueda" formControlName="valor" (keyup)="applyFilter()">
        <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
</mat-card>

<app-evaluacion-sis *ngFor="let solicitud of dataSource" [solicitud]="solicitud"></app-evaluacion-sis>

<mat-card class="paginacion">
    <mat-paginator [length]="pagination.length"
    [pageSize]="pagination.pageSize"
    [pageSizeOptions]="pagination.pageSizeOptions"
    (page)="pageEvent = refrescarPaginacion($event)">
</mat-paginator>
</mat-card>