.example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 100%;
}
.icon-padding {
  padding-right: 5px;
}
.login-title{
  font-weight: bold;
}
.login-icon-big{
  font-size: 60px;
  height: 30px;
  width: 60px;
}
.text-center {
  text-align: center;
}

.flex{
  display: flex;
}

mat-form-field {
  width: 100%;
}

a{
  align-items: center;
  display: flex;
}

.background-image {
  background-image: url('../../../assets/index2.jpg');
}

.center{
  max-width: 600px;
  min-width: 300px;
  margin: 0 auto;
}