<div class="main-div">
<div class="background-image"></div>
  <mat-card class="z-depth center" flex="50">
    <mat-card-title>
      Coordinación de Servicios Generales
    </mat-card-title>
    <div class="text-center">
      <img src="{{'../../../assets/login/technical.png'}}" style="height: 80px;">
    </div>

    <form (ngSubmit)="login()" [formGroup]="formulario">
      <mat-form-field>
        <input matInput placeholder="Correo" formControlName="correo_principal" name="correo_principal">
        <mat-icon matSuffix>email</mat-icon>
        <mat-error *ngIf="formulario.controls.correo_principal.hasError('email') && !formulario.controls.correo_principal.hasError('required')">
          Ingresa un dirección de correo válida
        </mat-error>
        <mat-error *ngIf="formulario.controls.correo_principal.hasError('required')">
          Debe ingresar su <strong>correo electrònico</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Ingresa tu contraseña" name="password" 
        formControlName="password" 
        [type]="is_hidde_password ? 'password' : 'text'">
        <mat-icon matSuffix (click)="is_hidde_password = !is_hidde_password">{{is_hidde_password ? 'visibility_off' : 'visibility'}}</mat-icon>
        <mat-error *ngIf="formulario.controls.password.hasError('minLength') || !formulario.controls.password.hasError('required')">
          La contraseña debe tener al menos 6 caracteres
        </mat-error>
        <mat-error *ngIf="formulario.controls.password.hasError('required')">
          Debe ingresar una <strong>contraseña</strong>
        </mat-error>
      </mat-form-field>

      <div class="flex">
        <a routerLink="/auth/recuperar-password">¿Olvidaste tu contraseña?</a>
        <span class="spacer"></span>
        <button mat-raised-button color="primary" type="submit" [disabled]="!formulario.valid">
          <mat-icon class="icon-padding">vpn_key</mat-icon>Ingresar el sistema
        </button>
      </div>
    </form>
  </mat-card>
</div>