<div>
  <mat-card>
    <mat-card-title>
      <mat-toolbar color="primary">
        <mat-toolbar-row>
          <mat-icon class="icon-padding">view_headline</mat-icon>
          <span>Detalles de Solicitud Interna de Servicios</span>
          <span class="spacer"></span>
          <button mat-icon-button matDialogClose>
            <mat-icon aria-label="Example icon-button with a heart icon">close</mat-icon>
          </button>
        </mat-toolbar-row>
      </mat-toolbar>
    </mat-card-title>

    <mat-card-content>
      <div class="udo-logo">
        <img class="udo-logo" [src]="'assets/udo-logo.png'">
      </div>
      <div class="encabezado">
        <h3>UNIVERSIDAD DE ORIENTE</h3>
        <h3>NÚCLEO DE MONAGAS</h3>
        <h3>COORDINACIÓN ADMINISTRATIVA</h3>
        <h3>COORDINACIÓN DE SERVICIOS GENERALES</h3>
      </div>

      <div class="titulo">
        <h2>SOLICITUD INTERNA DE SERVICIOS</h2>
      </div>

      <div class="descripcion">
        <mat-list>
          <mat-list-item><mat-icon matSuffix>face</mat-icon>INFORMACIÓN PERSONAL</mat-list-item>
          <mat-divider></mat-divider>

          <mat-grid-list cols="2" rowHeight="10:1">
            <mat-grid-tile>
              <mat-icon matSuffix>create</mat-icon>
              <strong>Solicitante:</strong> {{solicitud.solicitante_nombres+' '+solicitud.solicitante_apellidos}}
            </mat-grid-tile>
            <mat-grid-tile>
              <mat-icon matSuffix>picture_in_picture</mat-icon>
              <strong>Documento:</strong> {{solicitud.solicitante_documento+'-'+solicitud.solicitante_cedula}}
            </mat-grid-tile>
          </mat-grid-list>

          <mat-list-item><p><mat-icon matSuffix>visibility</mat-icon>DATOS DE LA SOLICITUD </p> 
            <a href="">(+{{solicitud.solicitudInteresados.length}} interesados)</a></mat-list-item>
            <mat-divider></mat-divider>

            <mat-grid-list cols="2" rowHeight="15:1">
              <mat-grid-tile>
                <mat-icon matSuffix>security</mat-icon>
                <strong>Acceso:</strong> {{solicitud.acceso | titlecase}}
              </mat-grid-tile>
              <mat-grid-tile>
                <mat-icon matSuffix>flag</mat-icon>
                <strong>Solicitud Nº:</strong> {{solicitud.id}}
              </mat-grid-tile>
              <mat-grid-tile>
                <mat-icon matSuffix>category</mat-icon>
                <strong>Categoría:</strong> 
                <mat-chip-list>
                  <mat-chip class="categoria" color="accent" selected>{{solicitud.categoria | titlecase}}</mat-chip>
                </mat-chip-list>
              </mat-grid-tile>
              <mat-grid-tile rowspan="5" class="img-antes">
                <img class="image" [src]="solicitud.solicitudSis.foto_previa" alt="Photo of a Shiba Inu">
              </mat-grid-tile>
              <mat-grid-tile rowspan="4" class="scroll-y full-width">
                <div class="justificado full-width">
                  <mat-icon matSuffix>library_books</mat-icon>
                  <strong>Descripcion:</strong> <p>{{solicitud.descripcion}}</p>
                </div>
              </mat-grid-tile>
              <mat-grid-tile colspan="2">
                <mat-icon matSuffix>place</mat-icon>
                <strong>Lugar:</strong> <p>{{solicitud.solicitudSis.lugar}}</p>
              </mat-grid-tile>
            </mat-grid-list>

            <mat-list-item><mat-icon matSuffix>done_all</mat-icon>RESULTADO</mat-list-item>
            <mat-divider></mat-divider>
            <mat-grid-list cols="2" rowHeight="10:1">

              <mat-grid-tile rowspan="4" class="scroll-y full-width">
                <div class="justificado full-width">
                  <mat-icon matSuffix>center_focus_strong</mat-icon>
                  <strong>Diagnóstico:</strong> <p>{{solicitud.diagnostico_descripcion}}</p>
                </div>
              </mat-grid-tile>
              <mat-grid-tile rowspan="5" class="img-despues">
                <img class="image" [src]="solicitud.solicitudSis.diagnostico_foto" alt="Photo of a Shiba Inu">
              </mat-grid-tile>
              <mat-grid-tile rowspan="1" class="scroll-y">

                <mat-form-field class="full-width">
                  <mat-chip-list #chipList>
                    <mat-chip *ngFor="let material of solicitud.solicitud_materiales" selected>
                      +{{material.material_cantidad+' '+(material.material_nombre | titlecase)}}
                    </mat-chip>
                  </mat-chip-list>
                </mat-form-field>

              </mat-grid-tile>
              <mat-grid-tile colspan="1">
                <mat-icon matSuffix>recent_actors</mat-icon>
                <strong>Atendida por:</strong> <p>{{solicitud.solicitudSis.diagnostico_responsable}}</p>
              </mat-grid-tile>
              <mat-grid-tile colspan="1">
                <mat-icon matSuffix>today</mat-icon>
                <strong>Fecha:</strong> <p>{{' '+moment(solicitud.created_at).format('LLLL') | titlecase}}</p>
              </mat-grid-tile>
            </mat-grid-list>
          </mat-list>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <span class="spacer"></span>
        <button mat-raised-button matDialogClose color="accent" ><mat-icon matSuffix>reply</mat-icon>Volver</button>
        <button mat-raised-button color="primary"><mat-icon matSuffix>print</mat-icon>Imprimir</button>
      </mat-card-actions>
    </mat-card>
  </div>