mat-card{
    padding: 0;
    min-width: 430px;
    max-width: 600px;
}
mat-card-title > * {
    margin-bottom: 0;
    font-weight: bold;
}
mat-card-content{
    max-height: 300px;
    overflow-y: scroll;
}

.spacer {
    flex: 1 1 auto;
}

.icon-padding {
    padding-right: 5px;
}
img {
    padding-right: 10px;
}

mat-list {
    padding-top: 0;
}

button{
    font-weight: bold;
    font-size: 10px;
}