<mat-card>
  <mat-card-title [style.marginBottom]="0">
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <mat-icon class="icon-padding">people</mat-icon>
        <span>Lista de interesados</span>
          <span class="spacer"></span>
          <button mat-icon-button matDialogClose>
            <mat-icon aria-label="Example icon-button with a heart icon">close</mat-icon>
          </button>
      </mat-toolbar-row>
    </mat-toolbar>
  </mat-card-title>

  <mat-card-content>
    <mat-list>

      <mat-list-item *ngFor="let solicitudInteresado of solicitudInteresados">
        <img mat-card-avatar class="example-header-image" [src]="solicitudInteresado.avatar">
        <span>{{solicitudInteresado.nombres + ' ' + solicitudInteresado.apellidos | titlecase}}</span>
        <span class="spacer"></span>
        <button mat-raised-button color="accent"><mat-icon class="icon-padding">visibility</mat-icon>DETALLES</button>
      </mat-list-item>
      
    </mat-list>
  </mat-card-content>
</mat-card>