<mat-toolbar color="accent">
    <mat-toolbar-row>
        <span>Evaluación de Solicitudes Internas de Servicios</span>
        <span class="spacer"></span>
        <button mat-raised-button color="primary" (click)="openRegistroSisseDialog()" ><mat-icon class="icon">airport_shuttle</mat-icon>Realizar Solicitud SISSE</button>
    </mat-toolbar-row>
</mat-toolbar>

<mat-card class="flex mat-elevation-z8" [formGroup]="busqueda">
    <!-- <mat-form-field>
        <mat-select placeholder="Filtro">
            <mat-option value="titulo">Título</mat-option>
            <mat-option value="estatus">Estatus</mat-option>
            <mat-option value="categoria">Categoría</mat-option>
        </mat-select>
        <mat-icon matSuffix>list_alt</mat-icon>
    </mat-form-field>
    <span class="width-8px"></span>  -->
    <mat-form-field class="full-width">
    <input matInput placeholder="Búsqueda" formControlName="valor" (keyup)="applyFilter()">

        <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
</mat-card>

<div class="principal mat-elevation-z8">
<table mat-table [dataSource]="dataSource" matSort matSortActive="id" matSortDirection="desc" matSortDisableClear class="mat-elevation-z8">

  <!-- Position Column -->
  <ng-container matColumnDef="ID">
    <th mat-header-cell *matHeaderCellDef mat-sort-header="id"> No. </th>
    <td mat-cell *matCellDef="let solicitud"> {{solicitud.id}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="Fecha">
    <th mat-header-cell *matHeaderCellDef mat-sort-header="created_at"> Fecha </th>
    <td mat-cell *matCellDef="let solicitud"> {{solicitud.created_at | tiempoEnHumano}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="Asunto">
    <th mat-header-cell *matHeaderCellDef mat-sort-header="asunto"> Título </th>
    <td mat-cell *matCellDef="let solicitud"> {{solicitud.asunto | truncate: 50}}</td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="Estado">
    <th mat-header-cell *matHeaderCellDef mat-sort-header="estado"> Estado </th>
    <td mat-cell *matCellDef="let solicitud"> 
        <mat-chip-list>
          <mat-chip>{{solicitud.estado}}</mat-chip>
        </mat-chip-list>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;" 
    (click)="openDetalleSisseDialog(row)"
    class="row"></tr>
</table>
<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
<div></div>