mat-toolbar-row > * {
  font-weight: bold;
}
.full-width {
  width: 100%;
}
.flex {
  display: flex;
  padding-top: 10px;
  height: 35px;
}
.width-8px{
  width: 13px;
}
.spacer {
  flex: 1 1 auto;
}
table {
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}
.row{
  cursor: pointer;
}
.row:not(.example-expanded-row):hover {
  background: #f5f5f5;
}

.row:not(.example-expanded-row):active {
  background: #efefef;
}

.icon {
  padding-right: 5px;
}

.principal {
  margin: 0 auto;
  width: 90%;
  margin-top: 10px;
  margin-bottom: 10px;
}