<div>
  <mat-card>
    <mat-card-title>
      <mat-toolbar color="primary">
        <mat-toolbar-row>
          <mat-icon class="icon-padding">view_headline</mat-icon>
          <span>Detalles de Solicitud Interna de Salidas Especiales</span>
            <span class="spacer"></span>
            <button mat-icon-button matDialogClose>
              <mat-icon aria-label="Example icon-button with a heart icon">close</mat-icon>
            </button>
        </mat-toolbar-row>
      </mat-toolbar>
    </mat-card-title>

    <mat-card-content>
      <div class="udo-logo">
        <img class="udo-logo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/41/Logo_UDO.svg/1024px-Logo_UDO.svg.png">
      </div>
      <div class="encabezado">
        <h3>UNIVERSIDAD DE ORIENTE</h3>
        <h3>NÚCLEO DE MONAGAS</h3>
        <h3>COORDINACIÓN ADMINISTRATIVA</h3>
        <h3>COORDINACIÓN DE SERVICIOS GENERALES</h3>
      </div>

      <div class="titulo">
        <h2>SOLICITUD INTERNA DE SERVICIOS</h2>
      </div>

      <div class="descripcion">
        <mat-list>
          <mat-list-item><mat-icon matSuffix>face</mat-icon>INFORMACIÓN PERSONAL</mat-list-item>
          <mat-divider></mat-divider>

          <table class="full-width">
              <tr>
                  <td>
                      <mat-icon matSuffix>create</mat-icon>
                      <strong>Solicitante:</strong> {{detail.solicitante_nombres+' '+detail.solicitante_apellidos}}
                  </td>
                  <td>
                      <mat-icon matSuffix>picture_in_picture</mat-icon>
                      <strong>Documento:</strong> {{detail.solicitante_documento+'-'+detail.solicitante_cedula}}
                  </td>
              </tr>
          </table>

          <mat-list-item><p><mat-icon matSuffix>visibility</mat-icon>DATOS DE LA SOLICITUD </p> <a href="">(+{{detail.solicitudInteresados.length}} interesados)</a></mat-list-item>
          <mat-divider></mat-divider>

          <table class="full-width">
              <tr>
                  <td>
                      <mat-icon matSuffix>security</mat-icon>
                      <strong>Acceso:</strong> {{detail.acceso | titlecase}}
                  </td>
                  <td>
                      <mat-icon matSuffix>flag</mat-icon>
                      <strong>Solicitud Nº:</strong> {{detail.id}}
                  </td>
              </tr>          
          </table>
          <table class="full-width">
              <tr>
                  <td colspan="2">
                      <mat-icon matSuffix>category</mat-icon>
                      <strong>Asunto:</strong> {{detail.categoria | titlecase}}
                  </td>
              </tr>
              <tr>
                  <td colspan="2">
                      <div class="justificado">
                        <mat-icon matSuffix>library_books</mat-icon>
                        <strong>Descripcion:</strong> {{detail.descripcion}}
                      </div>
                  </td>
              </tr>
          </table>

          <mat-list-item><mat-icon matSuffix>done</mat-icon>DETALLE DE SALIDA ESPECIAL</mat-list-item>
          <mat-divider></mat-divider>

          <table>
              <tr>
                  <td colspan="2">
                      <mat-icon matSuffix>arrow_upward</mat-icon>
                      <strong>Lugar de salida:</strong> {{detail.solicitudSisse.lugar_salida}}
                  </td>
              </tr>
              <tr>
                  <td>
                      <mat-icon matSuffix>date_range</mat-icon>
                      <strong>Fecha salida:</strong> {{detail.solicitudSisse.fecha_salida}}
                  </td>
                  <td>
                      <mat-icon matSuffix>access_time</mat-icon>
                      <strong>Hora:</strong> 08:10 am.
                  </td>
              </tr>
              <tr>
                  <td colspan="2">
                      <mat-icon matSuffix>arrow_downward</mat-icon>
                      <strong>Lugar de llegada:</strong> {{detail.solicitudSisse.lugar_llegada}} 
                  </td>
              </tr>
              <tr>
                  <td>
                      <mat-icon matSuffix>date_range</mat-icon>
                      <strong>Fecha de retorno:</strong> {{detail.solicitudSisse.fecha_regreso}}
                  </td>
                  <td>
                      <mat-icon matSuffix>access_time</mat-icon>
                      <strong>Hora:</strong> 10:30 am.
                  </td>
              </tr>
              <tr>
                  <td>
                      <mat-icon matSuffix>people</mat-icon>
                      <strong>Cantidad:</strong> {{detail.solicitudSisse.cantidad_personas}}
                  </td>
              </tr>
          </table>

          <mat-list-item><mat-icon matSuffix>done_all</mat-icon>RESULTADO</mat-list-item>
          <mat-divider></mat-divider>

          <table>
              <tr>
                  <td colspan="2">
                    <mat-icon matSuffix>center_focus_strong</mat-icon>
                    <strong>Diagnóstico:</strong> {{detail.diagnostico_descripcion}}
                  </td>
              </tr>
              <tr>
                  <td colspan="1">
                      <mat-icon matSuffix>person_pin_circle</mat-icon>
                      <strong>Chofer asignado:</strong> {{detail.solicitudSisse.chofer_asignado}}
                  </td>
                  <td colspan="1">
                      <mat-icon matSuffix>today</mat-icon>
                      <strong>Fecha:</strong> {{detail.solicitudSisse.updated_at}}
                  </td>
              </tr>
          </table>
        </mat-list>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <span class="spacer"></span>
      <button mat-raised-button matDialogClose color="accent" ><mat-icon matSuffix>reply</mat-icon>Volver</button>
      <button mat-raised-button color="primary"><mat-icon matSuffix>print</mat-icon>Imprimir</button>
    </mat-card-actions>
  </mat-card>
</div>