/*mat-dialog-content {
    max-height: 800px;
    max-width: 616px;
}*/
mat-card {
    padding: 0;
    width: 900px;
    height: 635px;
    overflow: hidden;
}
mat-card-title {
    margin-bottom: 0;
}
mat-card-title > * {
    font-weight: bold;
}

.spacer {
    flex: 1 1 auto;
}

.icon-padding {
    padding-right: 5px;
}

mat-list {
    padding-top: 0;
}

.encabezado{
    text-align: center;
}
.encabezado > * {
    margin-top: 0;
    margin-bottom: 0;
}
.titulo{
    text-align: center;
}

.titulo > h2 {
    margin-bottom: 0;
}
.udo-logo {
    text-align: center;
    height: 60px;
    margin-bottom: 15px;
}
.descripcion {
    margin-left: 20px;
    margin-right: 20px;
}
mat-grid-list {
    margin-left: 16px;
}

.img-antes {
    background: lightcoral;
}
.img-despues {
    background: lightblue;
}
.image {
    height: 100%;
}

h3 {
    font-size: 12px;
}
h2 {
    font-size: 16px;
}
.scroll-y {
    overflow-y: scroll;
}
mat-chip {
    font-size: 12px;
    height: 15px;
}
.justificado{
    text-align: justify;
}
mat-list-item {
    font-weight: bold;
}
mat-card-actions {
    display: flex;
    padding-right: 16px;
    padding-top: 4px;
    margin: 0;
}
mat-card-content{
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 15px;
    overflow-y: scroll;
    max-height: 513px;
}
mat-grid-tile{
    background: lightblue;
}
.full-width{
    width: 100%;
}
table{
    margin-left: 16px;
}
