<mat-card class="example-card">
  <mat-card-header>
    <img mat-card-avatar class="example-header-image" src="https://material.angular.io/assets/img/examples/shiba1.jpg">
    <div mat-card-title>#{{solicitud.id}}: {{solicitud.asunto}} </div>
    <div class="record-age">{{solicitud.solicitudFecha}}</div>
    <div mat-card-subtitle>{{solicitud.solicitanteNombres}} {{solicitud.solicitanteApellidos}}, {{solicitud.solicitanteCargo}}</div>    
  </mat-card-header>

  <mat-card-content>
    <mat-chip-list>
      <mat-chip color="primary" selected>{{solicitud.estado}}</mat-chip>
      <mat-chip class="categoria" color="accent" selected>{{solicitud.categoria}}</mat-chip>
    </mat-chip-list>

    <mat-grid-list cols="18" rowHeight="25px" class="descripcion">
      <mat-grid-tile [colspan]="1" [rowspan]="1">
          <mat-icon class="icon-people">today</mat-icon>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="17" [rowspan]="1">
          <span class="solicitud-detalle"><b>Fecha:</b> Lunes 4 de Junio de 2018</span>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
          <mat-icon class="icon-people">av_timer</mat-icon>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="17" [rowspan]="1">
          <span class="solicitud-detalle"><b>Hora:</b> 7:00 am.</span>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
          <mat-icon class="icon-people">arrow_upward</mat-icon>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="17" [rowspan]="1">
          <span class="solicitud-detalle"><b>Salida:</b> Campus "Los Guaritos"</span>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
          <mat-icon class="icon-people">arrow_downward</mat-icon>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="17" [rowspan]="1">
        <span class="solicitud-detalle"><b>Llegada:</b> Terminal de Maturin</span>
      </mat-grid-tile>
    </mat-grid-list>
    
    <div>
      <span class="prioridad">Prioridad</span>
      <span>
        <mat-icon *ngFor="let star of stars" class="icon-people">{{star}}</mat-icon>
      </span>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button (click)="openDetalleSisseDialog()" color="primary">DETALLES</button>
    <button mat-raised-button (click)="openAprobarSisseDialog()" color="primary">APROBAR</button>
    <button mat-raised-button (click)="openRechazarSisseDialog()" color="warn">RECHAZAR</button>
    <button mat-raised-button class="interesados" (click)="openInteresadosListaDialog()"><mat-icon class="icon-people">people</mat-icon>+{{solicitud.solicitudInteresados.length}}</button>
  </mat-card-actions>
</mat-card>