<mat-card class="large-card">
  <mat-card-header>
    <div mat-card-title> Simón José Farias Moreno</div>
    <mat-icon class="icon-people">person_add</mat-icon>
    <span class="spacer"></span>

    <mat-chip-list>
      <mat-chip color="primary" selected>Personal UDO</mat-chip>
    </mat-chip-list>

    <div mat-card-subtitle>V-22.718.998</div>    
  </mat-card-header>

  <mat-card-content>
    <mat-grid-list cols="18" rowHeight="25px">
      <mat-grid-tile [colspan]="1" [rowspan]="1">
          <mat-icon class="icon-people">contact_phone</mat-icon>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="17" [rowspan]="1">
          <span class="solicitud-detalle"><b>Teléfono:</b> 22.718.998</span>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
          <mat-icon class="icon-people">contact_mail</mat-icon>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="17" [rowspan]="1">
          <span class="solicitud-detalle"><b>Correo:</b> simonjosefariasmoreno@gmail.com</span>
      </mat-grid-tile>
    </mat-grid-list>
    
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button (click)="aceptarUsuarioDialog()" color="primary">ACEPTAR</button>
    <button mat-raised-button (click)="bloquearUsuarioDialog()" color="accent">BLOQUEAR</button>
    <button mat-raised-button (click)="eliminarUsuarioDialog()" color="warn">ELIMINAR</button>
    <span class="spacer"></span>

    <div class="record-moment">Hace 3 horas.</div>
  </mat-card-actions>
</mat-card>