<div class="main-div">
    <div class="background-image"></div>
    <mat-card class="card-principal">
        <mat-card-title>
            <mat-icon class="icon-padding">group_add</mat-icon>Registro de usuario Personal UDO
        </mat-card-title>
        <form class="form">
            <table cellspacing="0">
                <tr>
                    <td>
                        <mat-form-field>
                            <input matInput placeholder="Nombres">
                            <mat-icon matSuffix>done</mat-icon>
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field>
                            <input matInput placeholder="Apellidos">
                            <mat-icon matSuffix>done_all</mat-icon>
                        </mat-form-field>
                    </td>
                </tr>
            </table>
            <table cellspacing="0">
                <tr>
                    <td>
                        <mat-form-field>
                            <mat-select placeholder="Documento">
                                <mat-option value="v">Venezolano</mat-option>
                                <mat-option value="e">Extranjero</mat-option>
                            </mat-select>
                            <mat-icon matSuffix>perm_identity</mat-icon>
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field>
                            <input matInput placeholder="Cédula">
                            <mat-icon matSuffix>fingerprint</mat-icon>
                        </mat-form-field>
                    </td>
                </tr>
            </table>
            <table cellspacing="0">
                <tr>
                    <td>
                        <mat-form-field>
                            <mat-select placeholder="Género">
                                <mat-option value="v">Masculino</mat-option>
                                <mat-option value="e">Femenino</mat-option>
                            </mat-select>
                            <mat-icon matSuffix>wc</mat-icon>
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field>
                            <input matInput [matDatepicker]="picker" placeholder="Fecha de nacimiento">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>                  
                        </mat-form-field>
                    </td>
                </tr>
            </table>
            <table cellspacing="0">
                <tr>
                    <td>
                        <mat-form-field>
                            <mat-select placeholder="Telefono">
                                <mat-option value="option">0416</mat-option>
                                <mat-option value="option">0426</mat-option>
                                <mat-option value="option">0414</mat-option>
                                <mat-option value="option">0424</mat-option>
                                <mat-option value="option">0412</mat-option>
                            </mat-select>
                            <mat-icon matSuffix>contact_phone</mat-icon>
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field>
                            <input matInput placeholder="Número de contacto">
                            <mat-icon matSuffix>phone</mat-icon>
                        </mat-form-field>
                    </td>
                </tr>
            </table>

            <mat-form-field>
                <input matInput placeholder="Correo">
                <mat-icon matSuffix>email</mat-icon>
            </mat-form-field>
            <mat-form-field>
                <input matInput [type]="email" placeholder="Confirmación de correo">
                <mat-icon matSuffix>check_circle_outline</mat-icon>
            </mat-form-field>

            <table cellspacing="0">
                <tr>
                    <td>
                        <mat-form-field>
                            <input matInput placeholder="Contraseña" [type]="hide ? 'password' : 'text'">
                            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field>
                            <input matInput placeholder="Confirmación de contraseña" [type]="hide ? 'password' : 'text'">
                            <mat-icon matSuffix>check_circle_outline</mat-icon>
                        </mat-form-field>
                    </td>
                </tr>
            </table>  
            <div class="flex">
                <a mat-button routerLink="/auth/login"><mat-icon class="icon-padding">arrow_back</mat-icon>Ir a login</a>

                <span class="spacer"></span>

                <button mat-raised-button color="accent"><mat-icon class="icon-padding">done</mat-icon>Registrar ususario</button>
            </div>
        </form>
    </mat-card>
</div>