.form {
  min-width: 150px;
  /*max-width: 1000px;*/
  width: 100%;
}

.full-width {
  width: 100%;
}

.form > * {
    width: 100%;
}

mat-form-field {
    width: 100%;
}

.flex{
    display: flex;
}

.spacer {
    flex: 1 1 auto;
}
.icon-padding {
    padding-right: 5px;
}

.background-image {
  background-image: url('../../../assets/udo-campus.jpg');
}