<mat-grid-list cols="4" rowHeight="100px">
  <mat-grid-tile
      [colspan]="1"
      [rowspan]="2"
      style="background: lightblue;">
      <div mat-card-avatar class="example-header-image"></div>
  </mat-grid-tile>
  <mat-grid-tile
      [colspan]="2"
      [rowspan]="1"
      style="background: lightgreen;">
      #{{solicitud.id}}: {{solicitud.asunto}}
  </mat-grid-tile>
  <mat-grid-tile
      [colspan]="1"
      [rowspan]="1"
      style="background: lightpink;">
      {{solicitud.solicitudFecha}}
  </mat-grid-tile>
  <mat-grid-tile
      [colspan]="3"
      [rowspan]="1"
      style="background: #DDBDF1;">
      {{solicitud.solicitanteNombres}} {{solicitud.solicitanteApellidos}}, {{solicitud.solicitanteCargo}}
  </mat-grid-tile>
</mat-grid-list>

<div class="descripcion">
      <div>
        <mat-icon class="icon-people">today</mat-icon><span><b>Fecha:</b> Lunes 4 de Junio de 2018</span>
      </div>
      <div>
        <mat-icon class="icon-people">av_timer</mat-icon><span><b>Hora:</b> 7:00 am.</span>
      </div>
      <div>
        <mat-icon class="icon-people">arrow_upward</mat-icon><span><b>Salida:</b> Campus "Los Guaritos"</span>
      </div>
      <div>
        <mat-icon class="icon-people">arrow_downward</mat-icon><span><b>Llegada:</b> Terminal de Maturin</span>
      </div>
    </div>