<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Interesados</span>
  </mat-toolbar-row>
</mat-toolbar>

<div style="max-height: 400px; overflow-y: scroll;">
  <mat-grid-list cols="4" [style.maxHeigth.px]="500" [style.width.px]="500">
    <mat-grid-tile
        [colspan]="1"
        [rowspan]="1"
        style="background: lightpink;">
        <img mat-card-avatar class="example-header-image" src="https://material.angular.io/assets/img/examples/shiba1.jpg">
    </mat-grid-tile>
    <mat-grid-tile
        [colspan]="3"
        [rowspan]="1"
        style="background: #DDBDF1;">
        <div>Simón José Farias Moreno</div>
        <mat-chip-list>
          <mat-chip class="categoria" color="accent" selected>Estudiante</mat-chip>
        </mat-chip-list>
        <button mat-raised-button color="primary">Primary</button>
    </mat-grid-tile>
  </mat-grid-list>
</div>
