<mat-toolbar color="accent">
    <mat-toolbar-row>
        <span>Configuración de la cuenta</span>
        <span class="spacer"></span>
        <!-- <button mat-raised-button color="primary" (click)="openRegistroSisDialog()"><mat-icon class="icon">build</mat-icon>Realizar Solicitud SIS</button> -->
    </mat-toolbar-row>
</mat-toolbar>


<mat-card class="large-card">
    <mat-accordion class="example-headers-align">
      <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Datos de Usuario
          </mat-panel-title>
          <mat-panel-description>
            Información básica
            <mat-icon>account_circle</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>

        <mat-card (ngSubmit)="registrarDatosUsuario()" [formGroup]="formulario">
            <form class="form" formGroupName="datosUsuario">
                    <mat-card-header>
                        <div class="center">
                                <a (click)="pickFile($event)" href="">
                                    <img class="image" style="height: 110px;" *ngIf="!uploaded" #img [src]="formulario.value.datosUsuario.avatar">
                                    <img class="image" style="height: 110px;" *ngIf="uploaded" #img src="../../../../../assets/image-uploaded.png">
                                </a>
                                <input #fileInput type="file" ngFileSelect [options]="options" (uploadOutput)="onUploadOutput($event)"
                                    [uploadInput]="uploadInput" multiple accept="image/png, image/jpeg" hidden>
                                <div class="bold center" style="text-align:center;">Imagen de perfil</div>
                        </div>
                    </mat-card-header>
                <table cellspacing="0" class="full-width">
                    <tr>
                        <td>
                            <mat-form-field class="full-width">
                                <mat-select placeholder="Cargo" formControlName="cargo">
                                    <mat-option value="estudiante">Estudiante</mat-option>
                                    <mat-option value="profesor">Profesor</mat-option>
                                    <mat-option value="personal administrativo">Personal administrativo</mat-option>
                                    <mat-option value="obrero">Obrero</mat-option>
                                    <mat-option value="otro">Otro</mat-option>
                                </mat-select>
                                <mat-icon matSuffix>picture_in_picture</mat-icon>
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field class="full-width">
                                <input matInput placeholder="Especifique otro cargo" [disabled]="formulario.value.datosUsuario.cargo != 'otro'">
                                <mat-icon matSuffix>contact_support</mat-icon>
                            </mat-form-field>
                        </td>
                    </tr>
                </table>
                <table cellspacing="0">
                    <tr>
                        <td>
                            <mat-form-field class="full-width">
                                <textarea matInput placeholder="Descripción" formControlName="descripcion"></textarea>
                                <mat-icon matSuffix>comment</mat-icon>
                            </mat-form-field>
                        </td>
                    </tr>
                </table>        
            </form>
        </mat-card>

        <mat-action-row>
          <button mat-raised-button class="full-width" color="primary" type="submit" (click)="registrarDatosUsuario()">Guardar</button>
        </mat-action-row>
      </mat-expansion-panel>

      <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Seguridad
          </mat-panel-title>
          <mat-panel-description>
            Cambio de contraseña
            <mat-icon>security</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>

        <form class="form">
          <mat-form-field class="full-width">
            <input matInput placeholder="Contraseña actual" type="password" value="">
          </mat-form-field>
        </form>
        <form class="form">
          <mat-form-field class="full-width">
            <input matInput placeholder="Nueva contraseña" type="password" value="">
          </mat-form-field>
        </form>
        <form class="form">
          <mat-form-field class="full-width">
            <input matInput placeholder="Repita la nueva contraseña" type="password" value="">
          </mat-form-field>
        </form>

        <mat-action-row>
          <button mat-raised-button class="full-width" color="primary" (click)="nextStep()">Guardar</button>
        </mat-action-row>
      </mat-expansion-panel>

      <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Información personal
          </mat-panel-title>
          <mat-panel-description>
            Nombre completo, cédula
            <mat-icon>info</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>

        
        <form class="form">
            <table cellspacing="0" >
                <tr>
                    <td>
                        <mat-form-field class="full-width">
                            <input matInput placeholder="Nombres" disabled>
                            <mat-icon matSuffix>done</mat-icon>
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field class="full-width">
                            <input matInput placeholder="Apellidos" disabled>
                            <mat-icon matSuffix>done_all</mat-icon>
                        </mat-form-field>
                    </td>
                </tr>
            </table>
            <table cellspacing="0">
                <tr>
                    <td>
                        <mat-form-field class="full-width">
                            <mat-select placeholder="Documento" disabled>
                                <mat-option value="v" selected>Venezolano</mat-option>
                                <mat-option value="e">Extranjero</mat-option>
                            </mat-select>
                            <mat-icon matSuffix>perm_identity</mat-icon>
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field class="full-width">
                            <input matInput placeholder="Cédula" disabled>
                            <mat-icon matSuffix>fingerprint</mat-icon>
                        </mat-form-field>
                    </td>
                </tr>
            </table>
            <table cellspacing="0">
                <tr>
                    <td>
                        <mat-form-field class="full-width">
                            <mat-select placeholder="Género"  disabled>
                                <mat-option value="v">Masculino</mat-option>
                                <mat-option value="e">Femenino</mat-option>
                            </mat-select>
                            <mat-icon matSuffix>wc</mat-icon>
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field class="full-width">
                            <input matInput [matDatepicker]="picker" placeholder="Fecha de nacimiento" disabled>
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>                  
                        </mat-form-field>
                    </td>
                </tr>
            </table>
        </form>

        <mat-action-row>
          <button mat-raised-button class="full-width" color="primary" (click)="nextStep()">Guardar</button>
        </mat-action-row>
      </mat-expansion-panel>

      <mat-expansion-panel [expanded]="step === 3" (opened)="setStep(3)" hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Datos de contacto
          </mat-panel-title>
          <mat-panel-description>
            Correo personal, teléfono
            <mat-icon>import_contacts</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>

        <form class="form">
          <mat-form-field class="full-width">
            <input matInput placeholder="Correo principal actual" type="email" value="simonjosefariasmoreno@gmail.com" disabled>
          </mat-form-field>
        </form>

        <table cellspacing="0" class="full-width">
            <tr>
                <td>
                    <mat-form-field class="full-width">
                        <mat-select placeholder="Telefono">
                            <mat-option value="option">0416</mat-option>
                            <mat-option value="option">0426</mat-option>
                            <mat-option value="option">0414</mat-option>
                            <mat-option value="option">0424</mat-option>
                            <mat-option value="option">0412</mat-option>
                        </mat-select>
                        <mat-icon matSuffix>contact_phone</mat-icon>
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field class="full-width">
                        <input matInput placeholder="Número de contacto">
                        <mat-icon matSuffix>phone</mat-icon>
                    </mat-form-field>
                </td>
            </tr>
        </table>

        <mat-action-row>
          <button mat-raised-button class="full-width" color="primary" (click)="nextStep()">Guardar</button>
        </mat-action-row>
      </mat-expansion-panel>

      <mat-expansion-panel [expanded]="step === 4" (opened)="setStep(4)" hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Datos de sesión
          </mat-panel-title>
          <mat-panel-description>
            Configuración del correo de inicio de Login
            <mat-icon>vpn_key</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>

        <form class="form">
          <mat-form-field class="full-width">
            <input matInput placeholder="Correo principal actual" type="email" value="simonjosefariasmoreno@gmail.com" disabled>
          </mat-form-field>
        </form>
        <form class="form">
          <mat-form-field class="full-width">
            <input matInput placeholder="Nuevo correo principal" type="email" value="">
          </mat-form-field>
        </form>
        <form class="form">
          <mat-form-field class="full-width">
            <input matInput placeholder="Repita nuevo correo principal" type="email" value="">
          </mat-form-field>
        </form>
        <form class="form">
          <mat-form-field class="full-width">
            <input matInput placeholder="Ingrese la contraseña actual" type="password" value="">
          </mat-form-field>
        </form>
        <mat-action-row>
          <button mat-raised-button class="full-width" color="primary" (click)="nextStep()">Guardar</button>
        </mat-action-row>
      </mat-expansion-panel>


    </mat-accordion>
</mat-card>