.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}
mat-toolbar-row > * {
  font-weight: bold;
}
mat-action-row{
    padding-right: 24px;
}

.form > * {
    width: 100%;
}
.center{
    margin: 0 auto;
}
.header-image {
    margin: 0 auto;
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}
mat-card-header{
    margin-bottom: 10px;
}
.large-card{
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 90%;
}