<mat-toolbar color="accent">
    <mat-toolbar-row>
      <span>Lista de materiales registrados del almacen</span>
      <span class="spacer"></span>
      <button mat-raised-button color="primary" (click)="openRegistroSisDialog()"><mat-icon class="icon">assignment</mat-icon>Agregar nuevo Producto</button>
    </mat-toolbar-row>
  </mat-toolbar>
  
  <mat-card class="flex mat-elevation-z8" [formGroup]="busqueda">
    <!-- <mat-form-field>
      <mat-select placeholder="Filtro" formControlName="filtro">
        <mat-option>All</mat-option>
        <mat-option [value]="busquedaOpcion.valor" *ngFor="let busquedaOpcion of busquedaOpciones">{{busquedaOpcion.nombre}}</mat-option>
      </mat-select>
      <mat-icon matSuffix>list_alt</mat-icon>
    </mat-form-field>
  
    <span class="width-8px"></span>  -->
    <mat-form-field class="full-width">
      <input matInput placeholder="Búsqueda" formControlName="valor" (keyup)="applyFilter()">
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
  </mat-card>
  
  <div class="principal mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort matSortActive="id" matSortDirection="desc" matSortDisableClear>
  
     <!-- Position Column -->
     <ng-container matColumnDef="ID">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="id"> No. </th>
      <td mat-cell *matCellDef="let material"> {{material.id}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="Fecha">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="updated_at"> Fecha </th>
      <td mat-cell *matCellDef="let material"> {{material.updated_at | tiempoEnHumano}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="Nombre">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="nombre"> Nombre </th>
      <td mat-cell *matCellDef="let material"> {{material.nombre | truncate: 50}}</td>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="Descripcion">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="descripcion"> Descripcion </th>
      <td mat-cell *matCellDef="let material"> 
        <span>{{material.descripcion}}</span>
      </td>
    </ng-container>
    <!-- Symbol Column -->
    <ng-container matColumnDef="Existencia">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="cantidad_existencia"> Existencia </th>
      <td mat-cell *matCellDef="let material"> 
        <mat-chip selected>{{material.cantidad_existencia}}</mat-chip>
      </td>
    </ng-container>
    <!-- Symbol Column -->
    <ng-container matColumnDef="Minimo permitido">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="cantidad_minimo"> Minimo permitido </th>
      <td mat-cell *matCellDef="let material"> 
        <mat-chip color="accent" selected>{{material.cantidad_minimo}}</mat-chip>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" 
    (click)="openDetalleSisDialog(row)"
    class="row"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>