<mat-toolbar color="primary">
    <mat-toolbar-row>
        <mat-icon class="icon-padding">cancel_presentation</mat-icon>
        <span>Eliminar solicitud de registro de usuario</span>
        <span class="spacer"></span>
        <button mat-icon-button matDialogClose>
            <mat-icon aria-label="Example icon-button with a heart icon">close</mat-icon>
        </button>
    </mat-toolbar-row>
</mat-toolbar>

<mat-card>
    <mat-dialog-content>
        <table class="full-width">
            <tr class="full-width">
                <td>Esta solicitud será eliminada y ya no podrá visualizarse. Confirme la acción.</td>
            </tr>
        </table>
    </mat-dialog-content>
    <mat-card-actions>
      <span class="spacer"></span>
      <button mat-raised-button matDialogClose color="accent" ><mat-icon matSuffix>reply</mat-icon>Volver</button>
      <button mat-raised-button color="primary"><mat-icon matSuffix>save</mat-icon>Confirmar</button>
    </mat-card-actions>
</mat-card>