<mat-toolbar color="primary">
    <mat-toolbar-row>
        <mat-icon class="icon-padding">control_point</mat-icon>
        <span>Aprobar Solicitud Interna #3306</span>
        <span class="spacer"></span>
        <button mat-icon-button matDialogClose>
            <mat-icon aria-label="Example icon-button with a heart icon">close</mat-icon>
        </button>
    </mat-toolbar-row>
</mat-toolbar>

<mat-card>
    <mat-dialog-content>
        <table class="full-width">
            <tr class="full-width">
                <td>La solicitud titulada "Solicitud de mtto. de áreas verdes" será aprobada.</td>
            </tr>
            <tr class="full-width">
                <td>
                    <span class="prioridad">Asigne la prioridad:</span>
                    <span>
                      <mat-icon class="icon-people">star_border</mat-icon>
                      <mat-icon class="icon-people">star_border</mat-icon>
                      <mat-icon class="icon-people">star_border</mat-icon>
                      <mat-icon class="icon-people">star_border</mat-icon>
                      <mat-icon class="icon-people">star_border</mat-icon>
                    </span>
                </td>
            </tr>
        </table>
    </mat-dialog-content>
    <mat-card-actions>
      <span class="spacer"></span>
      <button mat-raised-button matDialogClose color="accent" ><mat-icon matSuffix>reply</mat-icon>Volver</button>
      <button mat-raised-button color="primary"><mat-icon matSuffix>save</mat-icon>Confirmar</button>
    </mat-card-actions>
  </mat-card>