.spacer {
    flex: 1 1 auto;
}
.full-width{
    width: 100%;
}
mat-toolbar{    
    font-weight: bold;
}
mat-card-actions {
    text-align: right;
}
.prioridad {
    font-size: 17px;
    font-weight: bold;
    align-self: center;
    position: relative;
    bottom: 5px;
    padding-right: 10px;
}
.icon-padding {
    padding-right: 5px;
}