<div class="main-div">
  <div class="background-image"></div>
  <mat-card class="card-principal">
    <mat-card-title>
      <mat-icon class="icon-padding">receipt</mat-icon>Recuperación de contraseña
    </mat-card-title>
    <div class="text-center">
      <mat-icon class="login-icon-big">question_answer</mat-icon>
      <div class="login-title">¿Olvidaste tu contraseña?</div>
    </div>
    <br>
    <mat-card-content>
      <p class="descripcion">
        Ingresa tu dirección de correo para restaurar tu contraseña. Es posible que tengas que esperar unos momentos y verificar en tu sección de spam.
      </p>
    </mat-card-content>

    <form>
      <mat-form-field>
        <input matInput placeholder="Correo" type="email">
        <mat-icon matSuffix>email</mat-icon>
      </mat-form-field>
      <div class="flex">
        <a mat-button routerLink="/auth/login"><mat-icon class="icon-padding">arrow_back</mat-icon>Ir a login</a>
        <span class="spacer"></span>
        <button mat-raised-button color="accent"><mat-icon class="icon-padding">near_me</mat-icon>Enviar correo</button>
      </div>
    </form>
  </mat-card>
</div>