<div *ngIf="solicitudTipo == 'sis'">
    <div class="background-image background-image-sis"></div>
    <mat-toolbar [style.position]="'relative'" color="accent">
        <mat-toolbar-row>
            <span>Lista de Solicitudes Internas de Servicios</span>
            <span class="spacer"></span>
            <button mat-raised-button color="primary" (click)="openRegistroSisDialog()" *ngIf="usuario.tipo != null"><mat-icon class="icon">build</mat-icon>Realizar Solicitud SIS</button>
        </mat-toolbar-row>
    </mat-toolbar>

    <mat-card class="flex mat-elevation-z8" [formGroup]="busqueda">
        <mat-form-field class="full-width">
            <input matInput placeholder="Búsqueda" formControlName="valor" (keyup)="applyFilter()">
            <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
    </mat-card>
    <app-simple-sis *ngFor="let solicitud of dataSource" [solicitud]="solicitud"></app-simple-sis>
</div>

<div *ngIf="solicitudTipo == 'sisse'">
    <div class="background-image background-image-sisse"></div>
    <mat-toolbar [style.position]="'relative'" color="accent">
        <mat-toolbar-row>
            <span>Lista de Solicitudes Internas de Salidas Especiales</span>
            <span class="spacer"></span>
            <button mat-raised-button color="primary" (click)="openRegistroSisseDialog()" *ngIf="usuario.tipo != null"><mat-icon class="icon">airport_shuttle</mat-icon>Realizar Solicitud SISSE</button>
        </mat-toolbar-row>
    </mat-toolbar>

    <mat-card class="flex mat-elevation-z8" [formGroup]="busqueda">
        <mat-form-field class="full-width">
            <input matInput placeholder="Búsqueda" formControlName="valor" (keyup)="applyFilter()">
            <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
    </mat-card>

    <app-simple-sisse *ngFor="let solicitud of dataSource" [solicitud]="solicitud"></app-simple-sisse>
</div>

<mat-card class="paginacion">
    <mat-paginator [length]="pagination.length"
    [pageSize]="pagination.pageSize"
    [pageSizeOptions]="pagination.pageSizeOptions"
    (page)="pageEvent = refrescarPaginacion($event)">
</mat-paginator>
</mat-card>