mat-toolbar-row > * {
  font-weight: bold;
}
.icon {
  padding-right: 5px;
}

.spacer {
  flex: 1 1 auto;
}

.example-card {
  max-width: 700px;
  margin: 10px auto;
}

.mat-card-title {
    font-weight: bold;
}

.record-age {
    font-size: 12px;
    float: right;
}

.descripcion {
    margin-top: 14px;
    margin-bottom: 14px;
    /*text-indent: 30px;*/
    text-align: justify;
}

.interesados {
    font-weight: bold;
    float: right;
}

.categoria{
    float: right;
}

.icon-people{
    padding-right: 5px;
}

mat-button{
    font-weight: bold;
}

.prioridad {
    font-size: 17px;
    font-weight: bold;
    align-self: center;
    position: relative;
    bottom: 5px;
    padding-right: 10px;
}

.solicitud-detalle{
    margin-right: auto;
}

.button-row button,
.button-row a {
    margin-right: 8px;
}

.mat-raised-button{
    font-weight: bold;
}


.example-small-box, .example-large-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 16px;
  padding: 16px;
  border-radius: 8px;
}

.example-small-box {
  height: 100px;
  width: 100px;
}

.example-large-box {
  height: 300px;
  width: 300px;
}

.card-sis-img-antes {
    height: 100%;
}
.card-sis-img-despues {
    height: 100%;
}

.right {
  float: right;
}

mat-grid-tile {
  /*background: lightblue;*/
}
.full-width {
  width: 100%;
}

mat-tab-group{
  margin-bottom: 10px;
}
.flex {
  display: flex;
  padding-top: 10px;
  height: 35px;
}
.width-8px{
  width: 13px;
}