<mat-card class="example-card mat-elevation-z4">
  <mat-card-header>
    <img mat-card-avatar class="example-header-image" [src]="solicitud.solicitante_avatar">
    <div mat-card-title>#{{solicitud.id}}: {{solicitud.asunto | titlecase}} </div>
    <span class="spacer"></span>
    <div>
      <div class="record-age cursor-pointer"  
      [matTooltipPosition]="'before'"
      matTooltip="{{solicitud.created_at | formatoFecha: 'LLLL' | titlecase}}">
    {{solicitud.created_at | tiempoEnHumano}}</div>
  </div>
  <div mat-card-subtitle>{{solicitud.solicitante_nombres+' '+solicitud.solicitante_apellidos | titlecase}}, <strong>{{(solicitud.solicitante != null ? solicitud.solicitante.cargo : 'No tiene cargo') | titlecase}}</strong></div>    
</mat-card-header>

<mat-tab-group>
  <mat-tab label="Antes" dynamicHeight> 
    <mat-grid-list cols="4" rowHeight="200px">
      <mat-grid-tile
      [colspan]="4"
      [rowspan]="2">
      <img class="card-sis-img-antes" [src]="solicitud.solicitudSis.foto_previa">
    </mat-grid-tile>
  </mat-grid-list>
</mat-tab>
<mat-tab label="Después" [disabled]="!(solicitud.estado == 'resuelto' || solicitud.estado == 'inconcluso')"> 

  <mat-grid-list cols="4" rowHeight="200px">
    <mat-grid-tile
    [colspan]="4"
    [rowspan]="2">
    <img class="card-sis-img-despues" [src]="solicitud.solicitudSis.diagnostico_foto" alt="Photo of a Shiba Inu">
  </mat-grid-tile>
</mat-grid-list>

</mat-tab>
</mat-tab-group>
<mat-card-content>
  <mat-chip-list>
    <mat-chip [style.backgroundColor]="solicitud.estado | colorEstado" selected>
      <mat-icon>{{solicitud.estado | solicitudIcono: 'estado'}}</mat-icon>
      {{solicitud.estado | titlecase}}
    </mat-chip>
    <span class="spacer"></span>
    <button mat-button class="categoria"> 
      <mat-icon>{{solicitud.categoria | solicitudIcono: 'categoria'}}</mat-icon>
      <strong>{{solicitud.categoria | titlecase}}</strong>
    </button>
  </mat-chip-list>
  <div>
    <div *ngIf="solicitud.estado == 'aprobado' || solicitud.estado == 'resuelto' || solicitud.estado == 'inconcluso'">
      <span class="prioridad">Prioridad</span>
      <span>
        <mat-icon *ngFor="let star of stars" class="icon-people">{{star}}</mat-icon>
      </span>
    </div>
    <div *ngIf="solicitud.estado == 'aprobado'">
      <strong><mat-icon>av_timer</mat-icon>  Tiempo en espera:</strong> {{solicitud.tiempo_aprobado | contadorTiempo: solicitud.updated_at }}
    </div>
    <div *ngIf="solicitud.estado == 'resuelto' || solicitud.estado == 'inconcluso'">
      <strong><mat-icon>alarm_on</mat-icon> Tiempo total consumido:</strong> {{solicitud.tiempo_aprobado | contadorTiempo: null}}
    </div>
    <div *ngIf="solicitud.estado == 'rechazado'">
      <strong>Solicitud mal formulada.</strong>
    </div>
  </div>
  <p class="descripcion">
    {{solicitud.descripcion}}
  </p>
</mat-card-content>

<mat-card-actions>
  <button mat-raised-button (click)="openDetalleSisDialog()" color="primary"><mat-icon>visibility</mat-icon>DETALLES</button>
  <button mat-raised-button (click)="openAprobarSisDialog()" [ngStyle]="{'background': '#00C853', 'color': '#fff'}"><mat-icon>done</mat-icon>APROBAR</button>
  <button mat-raised-button (click)="openCargarResultadoSisDialog()" [ngStyle]="{'background': '#536DFE', 'color': '#fff'}"><mat-icon>done_all</mat-icon>CARGAR RESULTADOS</button>
  <button mat-raised-button (click)="openRechazarSisDialog()" [ngStyle]="{'background': '#FF5722'}"><mat-icon>delete</mat-icon>RECHAZAR</button>
  <button mat-raised-button class="interesados" (click)="openInteresadosListaDialog()"><mat-icon class="icon-people">people</mat-icon>+{{solicitud.solicitudInteresados.length}}</button>
</mat-card-actions>
</mat-card>
