<div class="main-div">
    <div class="background-image"></div>
    <mat-card class="card-principal">
        <mat-card-title>
            <mat-icon class="icon-padding">security</mat-icon>Cambio de contraseña
        </mat-card-title>
        <div class="text-center">
            <mat-icon class="login-icon-big">verified_user</mat-icon>
            <div class="login-title">Ingrese nueva contraseña</div>
        </div>
        <br>
        <mat-card-content>
            <p class="descripcion">
                Ingresa tu dirección de correo para restaurar tu contraseña. Es posible que tengas que esperar unos momentos y verificar en tu sección de spam.
            </p>
        </mat-card-content>

        <form>
            <mat-form-field>
                <input matInput placeholder="Código de Recuperación" type="email" disabled value="H2ft682PthG890HKIuy87T87Gyug">
                <mat-icon matSuffix>lock</mat-icon>
            </mat-form-field>

            <table cellspacing="0">
                <tr>
                    <td>
                        <mat-form-field>
                            <input matInput placeholder="Escriba la nueva contraseña" [type]="hide ? 'password' : 'text'">
                            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field>
                            <input matInput placeholder="Repita la nueva contraseña" [type]="hide ? 'password' : 'text'">
                            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
                        </mat-form-field>
                    </td>
                </tr>
            </table>

            <div class="flex">
                <a mat-button routerLink="/auth/login"><mat-icon class="icon-padding">arrow_back</mat-icon>Ir a login</a>
                <span class="spacer"></span>
                <button mat-raised-button color="accent"><mat-icon class="icon-padding">done</mat-icon>Guardar cambios</button>
            </div>
        </form>
    </mat-card>
</div>