.example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 100%;
}
.icon-padding {
    padding-right: 5px;
}
.spacer {
    flex: 1 1 auto;
}
.login-title{
    font-weight: bold;
}
.login-icon-big{
    font-size: 60px;
    height: 30px;
    width: 60px;
}
.text-center {
    text-align: center;
}

.flex{
    display: flex;
}

mat-form-field {
    width: 100%;
}

form > * {
    width: 100%;
}
.background-image {
  background-image: url('../../../assets/cambiar-password2.jpg');
}