<form (ngSubmit)="registrar()" [formGroup]="formulario">
  <mat-card>

    <mat-toolbar mat-dialog-title color="primary">
      <mat-toolbar-row>
        <mat-icon class="icon-padding">build</mat-icon>
        <span>Registro de nueva Solicitud Interna de Servicio</span>
        <span class="spacer"></span>
        <button mat-icon-button matDialogClose>
          <mat-icon aria-label="Example icon-button with a heart icon">close</mat-icon>
        </button>
      </mat-toolbar-row>
    </mat-toolbar>

    <mat-dialog-content>
      <div class="udo-logo">
        <img class="udo-logo" [src]="'assets/udo-logo.png'">
      </div>
      <div class="encabezado">
        <h3>UNIVERSIDAD DE ORIENTE</h3>
        <h3>NÚCLEO DE MONAGAS</h3>
        <h3>COORDINACIÓN ADMINISTRATIVA</h3>
        <h3>COORDINACIÓN DE SERVICIOS GENERALES</h3>
      </div>
      <div class="titulo">
        <h2>SOLICITUD INTERNA DE SERVICIOS</h2>
      </div>

      <div class="descripcion">
        <mat-list>
          <mat-list-item>
            <mat-icon matSuffix>face</mat-icon>INFORMACIÓN PERSONAL
          </mat-list-item>
          <mat-divider></mat-divider>

          <table cellspacing="0" class="full-width">
            <tr>
              <td>
                <mat-form-field class="full-width">
                  <input matInput placeholder="Nombres" formControlName="solicitante_nombres">
                  <mat-icon matSuffix>done</mat-icon>
                  <mat-error *ngIf="formulario.controls.solicitante_nombres.hasError('required')">
                    Debe ingresar sus <strong>nombres</strong>
                  </mat-error>
                </mat-form-field>
              </td>
              <td>
                <mat-form-field class="full-width">
                  <input matInput placeholder="Apellidos" formControlName="solicitante_apellidos">
                  <mat-icon matSuffix>done_all</mat-icon>
                  <mat-error *ngIf="formulario.controls.solicitante_apellidos.hasError('required')">
                    Debe ingresar sus <strong>apellidos</strong>
                  </mat-error>
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td class="flex1">
                <mat-form-field class="width-100px">
                  <mat-select placeholder="Documento" formControlName="solicitante_documento">
                    <mat-option *ngFor="let UsuarioDocumento of UsuarioDocumentos" [value]="UsuarioDocumento.valor">{{UsuarioDocumento.nombre}}</mat-option>
                    <mat-error *ngIf="formulario.controls.solicitante_documento.hasError('required')">
                      Debe ingresar su <strong>documento</strong>
                    </mat-error>
                  </mat-select>
                  <mat-icon matSuffix>fingerprint</mat-icon>
                </mat-form-field>
                <mat-form-field class="width-160px">
                  <input matInput placeholder="DNI" formControlName="solicitante_cedula">
                  <mat-icon matSuffix>perm_identity</mat-icon>
                  <mat-error *ngIf="formulario.controls.solicitante_cedula.hasError('required')">
                    Debe ingresar su <strong>cedula</strong>
                  </mat-error>
                </mat-form-field>
              </td>
              <td>
                <mat-form-field class="full-width">
                  <input matInput placeholder="Teléfono" formControlName="solicitante_telefono">
                  <mat-icon matSuffix>phone</mat-icon>
                  <mat-error *ngIf="formulario.controls.solicitante_telefono.hasError('required')">
                    Debe ingresar su <strong>telefono</strong>
                  </mat-error>
                </mat-form-field>
              </td>
            </tr>
          </table>

          <mat-list-item>
            <p>
              <mat-icon matSuffix>visibility</mat-icon>DATOS DE LA SOLICITUD
            </p>
          </mat-list-item>
          <mat-divider></mat-divider>


          <table cellspacing="0" class="full-width">
            <tr>
              <td>
                <mat-form-field class="full-width">
                  <mat-select placeholder="Acceso" formControlName="acceso">
                    <mat-option *ngFor="let SolicitudAcceso of SolicitudAccesos" [value]="SolicitudAcceso.valor">{{SolicitudAcceso.nombre}}</mat-option>
                  </mat-select>
                  <mat-icon matSuffix>security</mat-icon>
                  <mat-error *ngIf="formulario.controls.acceso.hasError('required')">
                    Debe ingresar el tipo de <strong>acceso</strong>
                  </mat-error>
                </mat-form-field>
              </td>
              <td rowspan="3" class="center">

                <a (click)="pickFile($event)" href="">
                  <img class="image" *ngIf="!uploaded" #img src="../../../../../assets/upload-file.jpg">
                  <img class="image" *ngIf="uploaded" #img src="../../../../../assets/image-uploaded.png">
                </a>
                <input #fileInput type="file" ngFileSelect [options]="options" (uploadOutput)="onUploadOutput($event)"
                  [uploadInput]="uploadInput" multiple accept="image/png, image/jpeg" hidden>
              </td>
            </tr>
            <tr>
              <td colspan="1">
                <mat-form-field class="full-width">
                  <mat-select placeholder="Categoría" formControlName="categoria">
                    <mat-option *ngFor="let SolicitudCategoria of SolicitudCategorias" [value]="SolicitudCategoria.valor">{{SolicitudCategoria.nombre}}</mat-option>
                  </mat-select>
                  <mat-icon matSuffix>category</mat-icon>
                  <mat-error *ngIf="formulario.controls.categoria.hasError('required')">
                    Debe ingresar la <strong>categoría</strong>
                  </mat-error>
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td>
                <mat-form-field class="full-width">
                  <input matInput placeholder="Título/Asunto" formControlName="asunto">
                  <mat-icon matSuffix>title</mat-icon>
                  <mat-error *ngIf="formulario.controls.asunto.hasError('required')">
                    Debe ingresar el <strong>asunto</strong>
                  </mat-error>
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td colspan="2">
                <mat-form-field class="full-width">
                  <textarea matInput placeholder="Descripcion" formControlName="descripcion"></textarea>
                  <mat-icon matSuffix>library_books</mat-icon>

                  <mat-error *ngIf="formulario.controls.descripcion.hasError('required')">
                    Debe ingresar la <strong>descripción</strong>
                  </mat-error>
                </mat-form-field>
              </td>
            </tr>
            <tr formGroupName="solicitudSis">
              <td colspan="2">
                <mat-form-field class="full-width">
                  <input matInput [type]="text" placeholder="Lugar" formControlName="lugar">
                  <mat-icon matSuffix>place</mat-icon>
                  <mat-error *ngIf="formulario.controls.solicitudSis.controls.lugar.hasError('required') || formulario.controls.solicitudSis.controls.lugar.hasError('minLength')">
                    El <strong>lugar</strong> debe contener al menos 4 caracteres
                  </mat-error>
                </mat-form-field>
              </td>
            </tr>
          </table>
        </mat-list>
      </div>
    </mat-dialog-content>
    <mat-dialog-actions>
      <span class="spacer"></span>
      <button mat-raised-button matDialogClose color="accent">
        <mat-icon matSuffix>cancel</mat-icon>Cancelar
      </button>
      <button mat-raised-button color="primary" type="submit" [disabled]="!formulario.valid">
        <mat-icon matSuffix>save</mat-icon>Guardar
      </button>
    </mat-dialog-actions>
  </mat-card>
</form>