<mat-toolbar color="accent">
    <mat-toolbar-row>
        <span>Solicitudes de registro de usuarios</span>
        <span class="spacer"></span>
        <!-- <button mat-raised-button color="primary" (click)="openRegistroSisDialog()"><mat-icon class="icon">build</mat-icon>Realizar Solicitud SIS</button> -->
    </mat-toolbar-row>
</mat-toolbar>

<mat-card class="flex">
    <mat-form-field>
        <mat-select placeholder="Filtro">
            <mat-option value="titulo">Nombre</mat-option>
            <mat-option value="estatus">Cedula</mat-option>
            <mat-option value="categoria">Telefono</mat-option>
            <mat-option value="categoria">Correo</mat-option>
            <mat-option value="categoria">Tipo</mat-option>
        </mat-select>
        <mat-icon matSuffix>list_alt</mat-icon>
    </mat-form-field>
    <span class="width-8px"></span> 
    <mat-form-field class="full-width">
        <input matInput placeholder="Búsqueda">
        <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
</mat-card>

<app-registro-usuario *ngFor="let usuario of usuarios" [usuario]="usuario"></app-registro-usuario>