<mat-toolbar color="primary">
    <mat-toolbar-row>
        <mat-icon class="icon-padding">person_add_disabled</mat-icon>
        <span>Bloquear solicitud de registro de usuario</span>
        <span class="spacer"></span>
        <button mat-icon-button matDialogClose>
            <mat-icon aria-label="Example icon-button with a heart icon">close</mat-icon>
        </button>
    </mat-toolbar-row>
</mat-toolbar>

<mat-card>
    <mat-dialog-content>
        <table class="full-width">
            <tr class="full-width">
                <td>El usuario será bloqueado y deberá desbloquearlo. Describa el motivo del bloqueo y su contraseña para confirmar la accióm.</td>
            </tr>
            <tr class="full-width">
                <td>
                    <mat-form-field class="full-width">
                        <textarea matInput placeholder="Descripción"></textarea>
                    </mat-form-field>
                </td>
            </tr>
            <tr class="full-width">
                <td>
                    <mat-form-field class="full-width">
                        <input matInput type="password" placeholder="Contraseña">
                    </mat-form-field>
                </td>
            </tr>
        </table>
    </mat-dialog-content>
    <mat-card-actions>
      <span class="spacer"></span>
      <button mat-raised-button matDialogClose color="accent" ><mat-icon matSuffix>reply</mat-icon>Volver</button>
      <button mat-raised-button color="primary"><mat-icon matSuffix>save</mat-icon>Confirmar</button>
    </mat-card-actions>
</mat-card>