<mat-toolbar color="warn">
    <mat-toolbar-row>
        <mat-icon class="icon-padding">remove_circle</mat-icon>
        <span>Rechazar Solicitud Interna #3306</span>
        <span class="spacer"></span>
        <button mat-icon-button matDialogClose>
            <mat-icon aria-label="Example icon-button with a heart icon">close</mat-icon>
        </button>
    </mat-toolbar-row>
</mat-toolbar>

<mat-card>
    <mat-card-title>
    </mat-card-title>

    <mat-dialog-content>
        <table class="full-width">
            <tr class="full-width">
                <td>La solicitud titulada "Solicitud de mtto. de áreas verdes" será rechazada.</td>
            </tr>
            <tr class="full-width">
                <td>
                    <mat-form-field class="full-width">
                        <textarea matInput placeholder="Especifique el motivo de rechazo"></textarea>
                    </mat-form-field>
                </td>
            </tr>
        </table>
    </mat-dialog-content>
    <mat-card-actions>
      <span class="spacer"></span>
      <button mat-raised-button matDialogClose color="accent" ><mat-icon matSuffix>reply</mat-icon>Volver</button>
      <button mat-raised-button color="primary"><mat-icon matSuffix>save</mat-icon>Confirmar</button>
    </mat-card-actions>
  </mat-card>