.navbar {
    position: sticky;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    height: 64px;
}

.navbar-header-image {
    height: 50px;
    background-size: cover;

}

.navbar-title {
    padding-left: 10px;
    font-weight: bold;
}

.sidebar {
    position: fixed;
    border: 1px solid #555;
    padding-top: 0px;
    height: 100%;
    min-width: 180px;
    width: 100%;
}

.spacer {
    flex: 1 1 auto;
}

.navbar-icon {
    font-size: 30px;
    margin-right: 50px;
}
mat-sidenav{
    width: 300px;
}
.separador {
    margin-left: 5px;
    margin-right: 5px;
}

.mat-chip-status {
    margin: 0 auto !important;
    height: 10px;
    margin-left: 20px;
    font-weight: bold;
}
.margin-left-24px {
    // margin: 24px;
}