<mat-sidenav-container class="sidebar" color="primary">
  <mat-sidenav class="mat-elevation-z4" mode="side" opened role="navigation" *ngIf="usuario.tipo">
    <mat-toolbar color="primary" class="navbar">
      <mat-toolbar-row>
        <img class="navbar-header-image" [src]="'assets/udo-logo.png'">
        <div>
          <div class="navbar-title" routerLink='personal/solicitudes/sis' [style.cursor]="'pointer'">Servi-UDO</div>
        </div>
      </mat-toolbar-row>
    </mat-toolbar>
    <mat-nav-list>
      <a mat-list-item *ngFor="let item of dashboard[usuario.tipo]" 
        [routerLink]="item.ruta" 
        routerLinkActive="active">{{item.nombre}}</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" class="navbar">
      <mat-toolbar-row>
        <img class="navbar-header-image" [src]="'assets/udo-logo.png'" *ngIf="!usuario.tipo">
        <div>
          <div class="navbar-title" routerLink='personal/solicitudes/sis' *ngIf="!usuario.tipo" [style.cursor]="'pointer'">Servi-UDO</div>
        </div>
        <span class="spacer"></span>
        <div [style.display]="'contents'" *ngIf="usuario.tipo">
          <button mat-mini-fab color="primary" [routerLink]="['/notificaciones']"
          matBadge="8" matBadgePosition="before" matBadgeColor="accent">
          <mat-icon>notifications</mat-icon>
        </button>
        <span class="separador">|</span>
        <div [matMenuTriggerFor]="menu" style="cursor: pointer; height: 100%; padding-top: 22px;">
          <div mat-button [style.display]="'flex'">
            <img [src]="usuario.avatar" 
            style="margin-right: 25px; height: 45px; border-radius: 100%;">
            <div>
              <b>{{(usuario.nombres | primeraPalabra) + ' ' + (usuario.apellidos | primeraPalabra) | titlecase}}</b>
              <mat-chip-list class="margin-left-24px">
                <mat-chip color="accent" class="mat-chip-status" selected>{{usuario.tipo | titlecase}}</mat-chip>
              </mat-chip-list>
            </div>
          </div>
        </div>
        <mat-menu #menu="matMenu" yPosition="above">
          <button mat-menu-item [routerLink]="['/configuracion-cuenta']">
            <mat-icon class="navbar-icon">picture_in_picture</mat-icon>Configuración
          </button>
          <button mat-menu-item (click)="cerrarSesion()">
            <mat-icon class="navbar-icon">reply</mat-icon>Cerrar sessión
          </button>
        </mat-menu>
      </div>
      <div [style.display]="'contents'" *ngIf="!usuario.tipo">
        <div>
          <button mat-mini-fab [matMenuTriggerFor]="menu"><mat-icon>bookmarks</mat-icon></button>
        </div>
        <mat-menu #menu="matMenu">
          <button mat-menu-item [routerLink]="['/solicitudes', 'sis']"><mat-icon class="navbar-icon">build</mat-icon>Solicitud Interna de Servicios</button>
          <button mat-menu-item [routerLink]="['/solicitudes', 'sisse']"><mat-icon class="navbar-icon">airport_shuttle</mat-icon>Solicitud de Salidas Especiales</button>
        </mat-menu>
        <span class="separador">|</span>

        <div>
          <b class="cursor-pointer" [routerLink]="['/auth/registro/personal-udo']" routerLinkActive="active">Regístrate</b> 
          o
          <b class="cursor-pointer" [routerLink]="['/auth/login']" routerLinkActive="active">Inicia sesión</b>
        </div>
      </div>
    </mat-toolbar-row>
    <mat-progress-bar *ngIf="progressBar.show" [mode]="progressBar.mode"></mat-progress-bar>
  </mat-toolbar>
  <router-outlet></router-outlet>
</mat-sidenav-content>
</mat-sidenav-container>