<mat-toolbar color="accent">
  <mat-toolbar-row>
    <span>Tus notificaciones</span>
    <span class="spacer"></span>
  </mat-toolbar-row>
</mat-toolbar>
<mat-card class="background-hover" *ngFor="let notificacion of notificaciones">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <div mat-card-title> {{notificacion.descripcion}}</div>
    <span class="spacer"></span>
    <div mat-card-subtitle>Hace 3 minutos.</div>   

    <mat-chip-list>
      <mat-chip color="accent" selected>Nueva</mat-chip>
    </mat-chip-list> 
  </mat-card-header>
</mat-card>