mat-toolbar-row > * {
  font-weight: bold;
}
mat-toolbar {
    margin-bottom: 15px;
}
.flex {
    display: flex;
}
mat-list-item:hover{
    background: lightblue;
}

.icon {
  padding-right: 5px;
}

.spacer {
  flex: 1 1 auto;
}
.example-card {
  max-width: 700px;
  margin: 10px auto;
}

.record-moment {
    font-size: 12px;
    float: right;
    padding-top: 15px;
    padding-right:24px;
}

.descripcion {
    margin-top: 14px;
    margin-bottom: 14px;
    /*text-indent: 30px;*/
    text-align: justify;
}


.card-sis-img-despues {
    height: 100%;
}

.right {
  float: right;
}

.flex {
  display: flex;
  padding-top: 10px;
  height: 35px;
}
.large-card{
  max-width: 80%;
  margin: 10px auto;
}
.background-hover{
    margin: 0 auto;
    width: 90%;
}

.background-hover:hover {
    background: lightblue;
}
.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}