<mat-toolbar color="accent">
    <mat-toolbar-row>
        <span>Evaluación de Solicitudes Internas de Servicios</span>
        <span class="spacer"></span>
        <!-- <button mat-raised-button color="primary" (click)="openRegistroSisDialog()"><mat-icon class="icon">build</mat-icon>Realizar Solicitud SIS</button> -->
    </mat-toolbar-row>
</mat-toolbar>

<mat-card class="flex">
    <mat-form-field>
        <mat-select placeholder="Filtro">
            <mat-option value="titulo">Título</mat-option>
            <mat-option value="estatus">Estatus</mat-option>
            <mat-option value="categoria">Categoría</mat-option>
            <mat-option value="solicitante_cedula">Cédula del solicitante</mat-option>
            <mat-option value="solicitante_nombre">Nombre del solicitante</mat-option>
        </mat-select>
        <mat-icon matSuffix>list_alt</mat-icon>
    </mat-form-field>
    <span class="width-8px"></span> 
    <mat-form-field class="full-width">
        <input matInput placeholder="Búsqueda">
        <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
</mat-card>

<app-evaluacion-sisse *ngFor="let solicitud of solicitudes" [solicitud]="solicitud"></app-evaluacion-sisse>