<mat-card class="solicitud-card mat-elevation-z4">
  <mat-card-header>
    <img mat-card-avatar class="example-header-image" [src]="solicitud.solicitante_avatar">
    <div mat-card-title>#{{solicitud.id}}: {{solicitud.asunto}} </div>
    <span class="spacer"></span>
    <div>
      <div class="record-age cursor-pointer"  
      [matTooltipPosition]="'before'"
      matTooltip="{{solicitud.created_at | formatoFecha: 'LLLL' | titlecase}}">
    {{solicitud.created_at | tiempoEnHumano}}</div>
  </div>
  <div mat-card-subtitle>{{solicitud.solicitante_nombres+' '+solicitud.solicitante_apellidos | titlecase}}, <strong>{{(solicitud.solicitante != null ? solicitud.solicitante.cargo : 'No tiene cargo') | titlecase}}</strong></div> 
</mat-card-header>

<mat-card-content>
  <mat-chip-list>
    <mat-chip [style.backgroundColor]="solicitud.estado | colorEstado" selected>
      <mat-icon>{{solicitud.estado | solicitudIcono: 'estado'}}</mat-icon>
      {{solicitud.estado | titlecase}}
    </mat-chip>
    <span class="spacer"></span>
    <button mat-button class="categoria"> 
      <mat-icon>{{solicitud.categoria | solicitudIcono: 'categoria'}}</mat-icon>
      <strong>{{solicitud.categoria | titlecase}}</strong>
    </button>
  </mat-chip-list>

  <mat-grid-list cols="18" rowHeight="25px" class="descripcion">
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-icon class="icon-people">today</mat-icon>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="17" [rowspan]="1">
      <span class="solicitud-detalle"><b>Fecha:</b> {{solicitud.solicitudSisse.fecha_salida | tiempoEnHumano}}</span>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-icon class="icon-people">av_timer</mat-icon>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="17" [rowspan]="1">
      <span class="solicitud-detalle"><b>Hora:</b> 7:00 am.</span>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-icon class="icon-people">arrow_upward</mat-icon>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="17" [rowspan]="1">
      <span class="solicitud-detalle"><b>Salida:</b> {{solicitud.solicitudSisse.lugar_salida}} </span>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-icon class="icon-people">arrow_downward</mat-icon>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="17" [rowspan]="1">
      <span class="solicitud-detalle"><b>Llegada:</b> {{solicitud.solicitudSisse.lugar_llegada}}</span>
    </mat-grid-tile>
  </mat-grid-list>

  <div>
    <span class="prioridad">Prioridad</span>
    <span>
      <mat-icon *ngFor="let star of stars" class="icon-people">{{star}}</mat-icon>
    </span>
  </div>
</mat-card-content>
<mat-card-actions>
  <button mat-raised-button (click)="openDetalleSisseDialog()" color="primary">DETALLES</button>
  <button mat-raised-button color="accent" (click)="desunirse()" *ngIf="enSeguimiento == true && usuario.tipo && (solicitud.estado == 'aprobado' || solicitud.estado == 'pendiente')">
      <mat-icon>person</mat-icon>
      EN SEGUIMIENTO
    </button>
  
    <button mat-raised-button color="warn" (click)="unirse()" *ngIf="enSeguimiento == false && usuario.tipo && (solicitud.estado == 'aprobado' || solicitud.estado == 'pendiente')">
      <mat-icon>person_outline</mat-icon>
      UNIRSE
    </button>
    <button mat-raised-button class="interesados" (click)="openInteresadosListaDialog(solicitud)"><mat-icon class="icon-people">people</mat-icon>{{solicitud.solicitudInteresados.length}} interesados</button>
</mat-card-actions>
</mat-card>





