<div>
  <mat-card>
    <mat-card-title>
      <mat-toolbar color="primary">
        <mat-toolbar-row>
          <mat-icon class="icon-padding">view_headline</mat-icon>
          <span>Detalles de Solicitud Interna de Servicios</span>
          <span class="spacer"></span>
          <button mat-icon-button matDialogClose>
            <mat-icon aria-label="Example icon-button with a heart icon">close</mat-icon>
          </button>
        </mat-toolbar-row>
      </mat-toolbar>
    </mat-card-title>

    <mat-card-content>
      <div class="udo-logo">
        <img class="udo-logo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/41/Logo_UDO.svg/1024px-Logo_UDO.svg.png">
      </div>
      <div class="encabezado">
        <h3>UNIVERSIDAD DE ORIENTE</h3>
        <h3>NÚCLEO DE MONAGAS</h3>
        <h3>COORDINACIÓN ADMINISTRATIVA</h3>
        <h3>COORDINACIÓN DE SERVICIOS GENERALES</h3>
      </div>

      <div class="titulo">
        <h2>SOLICITUD INTERNA DE SERVICIOS</h2>
      </div>

      <div class="descripcion">
        <mat-list>
          <mat-list-item><mat-icon matSuffix>face</mat-icon>INFORMACIÓN PERSONAL</mat-list-item>

          <mat-grid-list cols="2" rowHeight="10:1">
            <mat-grid-tile>
              <mat-icon matSuffix>create</mat-icon>
              <strong>Solicitante:</strong> Simon Jose Farias Moreno
            </mat-grid-tile>
            <mat-grid-tile>
              <mat-icon matSuffix>picture_in_picture</mat-icon>
              <strong>Documento:</strong> V - 22.718.998
            </mat-grid-tile>
          </mat-grid-list>

          <mat-list-item><p><mat-icon matSuffix>visibility</mat-icon>DATOS DE LA SOLICITUD </p> <a href="">(+30 interesados)</a></mat-list-item>

          <mat-grid-list cols="2" rowHeight="15:1">
            <mat-grid-tile>
              <mat-icon matSuffix>security</mat-icon>
              <strong>Acceso:</strong> Público
            </mat-grid-tile>
            <mat-grid-tile>
              <mat-icon matSuffix>flag</mat-icon>
              <strong>Solicitud Nº:</strong> 3
            </mat-grid-tile>
            <mat-grid-tile>
              <mat-icon matSuffix>category</mat-icon>
              <strong>Categoría:</strong> 
              <mat-chip-list>
                <mat-chip class="categoria" color="accent" selected>Aseo y limpieza</mat-chip>
              </mat-chip-list>
            </mat-grid-tile>
            <mat-grid-tile rowspan="6" class="img-antes">
              <img class="image" src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
            </mat-grid-tile>

            <mat-grid-tile>
              <mat-icon matSuffix>vertical_split</mat-icon>
              <strong>Asunto:</strong> 
              <mat-chip-list>
                <mat-chip class="asunto" color="accent" selected>Solicitud de mtto. de áreas verdes</mat-chip>
              </mat-chip-list>
            </mat-grid-tile>

            <mat-grid-tile rowspan="4" class="scroll-y">
              <div class="justificado">
                <mat-icon matSuffix>library_books</mat-icon>
                <strong>Descripcion:</strong> <p>El cesped en el campus universitario de Los Guaritos se encuentra en muy mal estado, especialmnente la zona del Comedor, si no se atiende con prontitud, será más complejo remover el excedente.</p>
              </div>
            </mat-grid-tile>
            <mat-grid-tile colspan="2">
              <mat-icon matSuffix>place</mat-icon>
              <strong>Lugar:</strong> <p>Modulo II y adyacencias del comedor universitario.</p>
            </mat-grid-tile>
          </mat-grid-list>

          <mat-list-item><mat-icon matSuffix>done_all</mat-icon>RESULTADO</mat-list-item>
          <table class="margen">
            <tr>
              <td>
                <b>Estatus:</b>
                <mat-radio-group>
                  <mat-radio-button value="1" checked>Resuelta</mat-radio-button>
                  <mat-radio-button value="2">Inconclusa</mat-radio-button>
                </mat-radio-group>
              </td>
            </tr>
            <tr>
              <td>
                <mat-form-field class="full-width">
                  <textarea matInput placeholder="Diagnóstico"></textarea>
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td>
                <mat-form-field class="full-width">
                  <input matInput placeholder="Encargado">
                </mat-form-field>
              </td>
            </tr>
          </table>



          <table cellspacing="0" class="margen">
            <tr>
              <td>
                <mat-form-field class="full-width">
                  <mat-select [(value)]="selected" placeholder="Materiales">
                    <mat-option>None</mat-option>
                    <mat-option value="option1">Clavos E172</mat-option>
                    <mat-option value="option2">Cuchilla A38B</mat-option>
                    <mat-option value="option3">Aceite 3 en 1 E5217</mat-option>
                  </mat-select>
                </mat-form-field>
              </td>
              <td>
                <mat-form-field class="full-width">
                  <input matInput type="number" placeholder="Favorite food" value="1">
                </mat-form-field>
              </td>
              <td>
                <button mat-flat-button class="full-width" (click)="addRowMaterial()">Agregar material</button>
              </td>
            </tr>
          </table>

          <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

            <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->

            <!-- Position Column -->
            <ng-container matColumnDef="ID">
              <th mat-header-cell *matHeaderCellDef> No. </th>
              <td mat-cell *matCellDef="let element"> {{element.id}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="Nombre">
              <th mat-header-cell *matHeaderCellDef> Nombre </th>
              <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="Cantidad en Existencia">
              <th mat-header-cell *matHeaderCellDef> Cantidad en Existencia </th>
              <td mat-cell *matCellDef="let element"> {{element.cantidadMinimo}} </td>
            </ng-container>
            <!-- Symbol Column -->
            <ng-container matColumnDef="Cantidad solicitada">
              <th mat-header-cell *matHeaderCellDef> Cantidad solicitada </th>
              <td mat-cell *matCellDef="let element"> {{element.cantidadExistencia}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>

        </mat-list>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <span class="spacer"></span>
        <button mat-raised-button matDialogClose color="accent" ><mat-icon matSuffix>cancel</mat-icon>Cancelar</button>
        <button mat-raised-button color="primary"><mat-icon matSuffix>save</mat-icon>Guardar</button>
    </mat-card-actions>
  </mat-card>
</div>