@import '~@angular/material/theming';
@include mat-core();

$my-app-primary: mat-palette($mat-indigo);
$my-app-accent:  mat-palette($mat-red, A400, A400, A500);
$my-app-warn:    mat-palette($mat-lime);
$my-app-theme: mat-light-theme($my-app-primary, $my-app-accent, $my-app-warn);
@include angular-material-theme($my-app-theme);


mat-dialog-container {
  padding: 0 !important;
}

body {
//     background-size: cover;
//     background-image: url('./assets/index2.jpg');
//   // filter: blur(5px);
//   // -webkit-filter: blur(5px);
//     background-position: center;
//     background-repeat: no-repeat;
margin: 0;
padding: 0;
height: 100vh;
}

.test .mat-dialog-container{    
  padding: 0;
  background: none;
}

.card-principal{
  margin: 0 auto;
  width: 60%;
  margin-top: 2%;
  margin-bottom: 10px;
}
// body {
//     background: #f7f2f2;
// }
.full-width {
  width: 100%;
}
.example-header-image {
  background-size: cover;
}

.bold {
  font-weight: bold;
}
.cursor-pointer{
  cursor: pointer;
}
.spacer {
  flex: 1 1 auto;
}
.centralizar{
  display: flex;
  justify-content: center;
  align-items: center;
}

.background-image {
  z-index:-1;

  background-size: cover;

  background-position: unset;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;

  -webkit-filter: blur(5px);
  height: 100%;

  left: 0;
  right: 0;
  position: fixed;
}


.main-div{
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mat-card .mat-divider-horizontal {
  position: relative !important;
}
