<form (ngSubmit)="registrar()" [formGroup]="formulario">
  <mat-card>

    <mat-toolbar mat-dialog-title color="primary">
      <mat-toolbar-row>
        <mat-icon class="icon-padding">build</mat-icon>
        <span>Registro de nueva Solicitud Interna de Servicio</span>
        <span class="spacer"></span>
        <button mat-icon-button matDialogClose>
          <mat-icon aria-label="Example icon-button with a heart icon">close</mat-icon>
        </button>
      </mat-toolbar-row>
    </mat-toolbar>

    <mat-dialog-content>
      <div class="udo-logo">
        <img class="udo-logo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/41/Logo_UDO.svg/1024px-Logo_UDO.svg.png">
      </div>
      <div class="encabezado">
        <h3>UNIVERSIDAD DE ORIENTE</h3>
        <h3>NÚCLEO DE MONAGAS</h3>
        <h3>COORDINACIÓN ADMINISTRATIVA</h3>
        <h3>COORDINACIÓN DE SERVICIOS GENERALES</h3>
      </div>
      <div class="titulo">
        <h2>SOLICITUD INTERNA DE SERVICIOS</h2>
      </div>

      <div class="descripcion">
        <mat-list>
          <mat-list-item>
            <mat-icon matSuffix>face</mat-icon>INFORMACIÓN PERSONAL
          </mat-list-item>
          <mat-divider></mat-divider>

          <table cellspacing="0" class="full-width">
            <tr>
              <td>
                <mat-form-field class="full-width">
                  <input formControlName="solicitante_nombres" matInput placeholder="Nombres">
                  <mat-icon matSuffix>done</mat-icon>
                  <mat-error *ngIf="formulario.controls.solicitante_nombres.hasError('required')">
                    Debe ingresar sus <strong>nombres</strong>
                  </mat-error>
                </mat-form-field>
              </td>
              <td>
                <mat-form-field class="full-width">
                  <input matInput placeholder="Apellidos" formControlName="solicitante_apellidos">
                  <mat-icon matSuffix>done_all</mat-icon>
                  <mat-error *ngIf="formulario.controls.solicitante_apellidos.hasError('required')">
                    Debe ingresar sus <strong>apellidos</strong>
                  </mat-error>
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td class="flex1">
                <mat-form-field class="width-100px">
                  <mat-select formControlName="solicitante_documento" placeholder="Documento">
                    <mat-option *ngFor="let UsuarioDocumento of UsuarioDocumentos" [value]="UsuarioDocumento.valor">{{UsuarioDocumento.nombre}}</mat-option>
                    <mat-error *ngIf="formulario.controls.solicitante_documento.hasError('required')">
                      Debe ingresar su <strong>documento</strong>
                    </mat-error>
                  </mat-select>
                  <mat-icon matSuffix>fingerprint</mat-icon>
                </mat-form-field>
                <mat-form-field class="width-160px">
                  <input formControlName="solicitante_cedula" matInput placeholder="DNI">
                  <mat-error *ngIf="formulario.controls.solicitante_cedula.hasError('required')">
                    Debe ingresar su <strong>cedula</strong>
                  </mat-error>
                  <mat-icon matSuffix>perm_identity</mat-icon>
                </mat-form-field>
              </td>
              <td>
                <mat-form-field class="full-width">
                  <input formControlName="solicitante_telefono" matInput placeholder="Teléfono">
                  <mat-icon matSuffix>phone</mat-icon>
                  <mat-error *ngIf="formulario.controls.solicitante_telefono.hasError('required')">
                    Debe ingresar su <strong>telefono</strong>
                  </mat-error>
                </mat-form-field>
              </td>
            </tr>
          </table>

          <mat-list-item>
            <p>
              <mat-icon matSuffix>visibility</mat-icon>DATOS DE LA SOLICITUD
            </p>
          </mat-list-item>
          <mat-divider></mat-divider>


          <table cellspacing="0" class="full-width">
            <tr>
              <td>
                <mat-form-field class="full-width">
                  <mat-select placeholder="Acceso" formControlName="acceso">
                    <mat-option *ngFor="let SolicitudAcceso of SolicitudAccesos" [value]="SolicitudAcceso.valor">{{SolicitudAcceso.nombre}}</mat-option>
                  </mat-select>
                  <mat-icon matSuffix>security</mat-icon>
                  <mat-error *ngIf="formulario.controls.acceso.hasError('required')">
                    Debe ingresar el tipo de <strong>acceso</strong>
                  </mat-error>
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td>
                <mat-form-field class="full-width">
                  <input formControlName="asunto" matInput placeholder="Título/Asunto">
                  <mat-icon matSuffix>title</mat-icon>
                  <mat-error *ngIf="formulario.controls.asunto.hasError('required')">
                    Debe ingresar el <strong>asunto</strong>
                  </mat-error>
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td colspan="2">
                <mat-form-field class="full-width">
                  <textarea formControlName="descripcion" matInput placeholder="Descripcion"></textarea>
                  <mat-icon matSuffix>library_books</mat-icon>
                  <mat-error *ngIf="formulario.controls.descripcion.hasError('required')">
                    Debe ingresar la <strong>descripción</strong>
                  </mat-error>
                </mat-form-field>
              </td>
            </tr>
          </table>

          <mat-list-item>
            <p>
              <mat-icon matSuffix>directions_bus</mat-icon>DETALLES DE SALIDA ESPECIAL
            </p>
          </mat-list-item>
          <mat-divider></mat-divider>

          <table formGroupName="solicitudSisse" cellspacing="0" class="full-width">
            <tr>
              <td colspan="2">
                <mat-form-field class="full-width">
                  <input formControlName="lugar_salida" matInput [type]="text" placeholder="Lugar de salida">
                  <mat-icon matSuffix>arrow_upward</mat-icon>
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td>
                <mat-form-field class="full-width">
                  <input formControlName="fecha_salida1" matInput [matDatepicker]="pickerSalida" placeholder="Fecha de salida">
                  <mat-datepicker-toggle matSuffix [for]="pickerSalida"></mat-datepicker-toggle>
                  <mat-datepicker #pickerSalida></mat-datepicker>
                </mat-form-field>
              </td>
              <td>
                <input formControlName="fecha_salida2" type="time" class="full-width" name="tiempo">
              </td>
            </tr>
            <tr>
              <td colspan="2">
                <mat-form-field class="full-width">
                  <input formControlName="lugar_llegada" matInput [type]="text" placeholder="Lugar de llegada">
                  <mat-icon matSuffix>arrow_downward</mat-icon>
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td>
                <mat-form-field class="full-width">
                  <input formControlName="fecha_regreso1" matInput [matDatepicker]="pickerRetorno" placeholder="Fecha de retorno">
                  <mat-datepicker-toggle matSuffix [for]="pickerRetorno"></mat-datepicker-toggle>
                  <mat-datepicker #pickerRetorno></mat-datepicker>
                </mat-form-field>
              </td>
              <td>
                <input formControlName="fecha_regreso2" type="time" class="full-width" name="tiempo2">
              </td>
            </tr>
            <tr>
              <td colspan="2">
                <mat-form-field class="full-width">
                  <input formControlName="cantidad_personas" matInput type="number" placeholder="Cantidad de personas" min="10">
                </mat-form-field>
              </td>
            </tr>
          </table>

        </mat-list>
      </div>
    </mat-dialog-content>
    <mat-dialog-actions>
      <span class="spacer"></span>
      <button mat-raised-button matDialogClose color="accent">
        <mat-icon matSuffix>cancel</mat-icon>Cancelar
      </button>
      <button mat-raised-button color="primary">
        <mat-icon matSuffix>save</mat-icon>Guardar
      </button>
    </mat-dialog-actions>
  </mat-card>
</form>