mat-dialog-container {
    overflow: hidden;
}
mat-card {
    padding: 0;
    width: 600px;
    overflow: hidden;
}
mat-list-item {
    font-weight: bold;
}
.udo-logo {
    text-align: center;
    height: 60px;
    margin-bottom: 15px;
}

.icon-padding {
    padding-right: 5px;
}

.encabezado{
    text-align: center;
}
.encabezado > * {
    margin-top: 0;
    margin-bottom: 0;
}
.titulo{
    text-align: center;
}
.descripcion {
    margin-left: 20px;
    margin-right: 20px;
}

.titulo > h2 {
    margin-bottom: 0;
}
h3 {
    font-size: 12px;
}
h2 {
    font-size: 16px;
}

mat-grid-list {
    margin-left: 16px;
}
.spacer {
    flex: 1 1 auto;
}
mat-toolbar > * {
    font-weight: bold;
}
mat-grid-tile {
    background: lightblue;
}
.full-width {
  width: 100%;
}
.image {
    height: 200px;
}
.center{
    text-align: center;
}
mat-dialog-actions {
    padding-right: 16px;
}
mat-dialog-content{
    margin: 0;
    padding-top: 15px;
    overflow-y: scroll;
    max-height: 513px;
}
mat-toolbar {
    margin-bottom: 0;
}
.flex{
    display: flex;
}
.width-100px{
    width: 125px;
    margin-right: 2px;
}
.width-160px{
    width: 160px;
    margin-right: 2px;
}